EksamensEksempler/index.html
EksamensEksempler/script.js
Modul-08/Old/eksempel-akser-labels/barchart-axis.html
Modul-08/Old/eksempel-akser-labels/barchart-with-scale-labels.html
Modul-08/Old/eksempel-akser-labels/barchart-with-scale.html
Modul-08/Old/eksempel-akser-labels/d3.js
Modul-08/Old/eksempel-akser-labels/scatter-plot-labels.html
Modul-08/Old/eksempel-animation/bar_chart_sortere_farver.html
Modul-08/Old/eksempel-animation/bar_chart_sortere_højde.html
Modul-08/Old/eksempel-animation/bar_chart_tilføj_data.html
Modul-08/Old/eksempel-animation/circle-animation.html
Modul-08/Old/eksempel-animation/circle-text-animation.html
Modul-08/Old/eksempel-animation/d3.js
Modul-08/Old/eksempel-animation/kasser-animation.html
Modul-08/Old/eksempel-animation/polygon-animation.html
Modul-08/Old/eksempel-animation/scatter_plot_skift_datasæt_enter_exit.html
Modul-08/Old/eksempel-animation/scatter_plot_skift_datasæt.html
Modul-09/Old/geojson/aarhus-legepladser.html
Modul-09/Old/geojson/aarhus.html
Modul-09/Old/geojson/d3.js
Modul-09/Old/geojson/danmark.html
Modul-09/Old/geojson/kommuner.html
Modul-09/Old/geojson/package-lock.json
Modul-09/Old/geojson/package.json
Modul-09/Old/geojson/usa-map.html
Modul-09/Old/geojson/data/aarhus-bad.json
Modul-09/Old/geojson/data/aarhus-fixed.json
Modul-09/Old/geojson/data/denmark.json
Modul-09/Old/geojson/data/kommuner.geojson
Modul-09/Old/geojson/data/legepladser_aarhus.geojson
Modul-09/Old/geojson/data/us-states.json
Modul-09/Old/tooltip/bar_chart_label_fast.html
Modul-09/Old/tooltip/bar_chart_label_mouseover.html
Modul-09/Old/tooltip/bar_chart_sorter.html
Modul-09/Old/tooltip/bar_chart_tooltip_div.html
Modul-09/Old/tooltip/d3.js
Modul-08/data-change-animation.html
Modul-08/Code-Labelling/code-labelling.js
Modul-08/Code-Labelling/index.html
Modul-08/scripts/circle-animation.js
Modul-08/scripts/scatter-plot-change-data
EksamensEksempler/d3-ex-1.js
.gitignore
